h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  margin: 5px 0px 5px;
  text-align: left;
}

.dataListHeader {
  background-color: #2062B8;
  color: white;
  font-style: italic;
}

.dataList {
  border: 1px solid silver;
  padding: 2px;
  margin-bottom:6px;
}

.dataListColumn {
  text-align: left;
  width:12em;
}

.dataListRowCountColumn {
  text-align: left;
  width:2em;
}

.dataListDateColumn {
  text-align: left;
  width:5em;
}